$small: 575px;




.container, .playerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 750px;
  height: 233px;

  @media (max-width: $small) {
    width: 90vw;
    height: 20vh;
  }
}

.playerContainer {
  width: 500px;
  height: 500px;

  @media (max-width: $small) {
    width: 100vw;
    height: 100vw;
  }

  .player {
    width: 500px !important;
    height: 281.25px !important;

    @media (max-width: $small) {
      width: 100vw !important;
      height: 56.25vw !important;
    }
  }

  .roomName {
    position: absolute;
    top: 50px;
    font-weight: 300;

    @media (max-width: $small) {
      top: 12.5vw;
      font-size: 7.5vw;
    }
  }
}



.mainTitle {
  position: absolute;
  top: 0;
  font-size: 90px;
  text-align: center;

  @media (max-width: $small) {
    font-size: 15vw;
  }
}

.subtitle {
  position: absolute;
  top: 60px;
  font-size: 20px;
  text-align: center;

  @media (max-width: $small) {
    font-size: 3.33vw;
    top: 10vw;
  }
}



.baseInput {
  width: 375px;
  position: absolute;
  bottom: 0;

  @media (max-width: $small) {
    width: 60vw;
  }

  .side {
    font-size: 15px;
  }
}



.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;

  .heart {
    transition: .25s;

    &:hover {
      color: #ff0000;
    }
  }

  .link {
    transition: .25s;
    color: #868e96;
    text-decoration: none !important;

    &:hover {
      color: #007bff;
    }
  }
}